<div class="payment-selector">
  <div class="payment-option" 
       [class.selected]="selectedMethod === 'Efectivo'"
       (click)="selectMethod('Efectivo')">
    <div class="icon-box">
      <ion-icon name="cash-outline"></ion-icon>
    </div>
    <span class="label">Efectivo</span>
  </div>

  <div class="payment-option" 
       [class.selected]="selectedMethod === 'Transferencia'"
       (click)="selectMethod('Transferencia')">
    <div class="icon-box">
      <ion-icon name="card-outline"></ion-icon> <!-- Usando card para representar digital/banco -->
    </div>
    <span class="label">Transferencia</span> <!-- Mantenemos Tarjeta visualmente como en la imagen, pero internamente puede ser Transferencia si se prefiere, o cambiar el texto a Transferencia -->
  </div>
</div>
